<div id="body">
 <header class="clearfix">
        <div class="logo limited">
            <a href="#" data-link><img src="/src/img/mslogo.png"></a>
        </div>
        <nav id="first-nav">
        <ul>
        <li class="small-8">
            <form id="search"> 
            <input src="/src/img/glass.png" alt="search">
            <input type="search" class="change" placeholder="Search for food, restaurants, locations" name="search">
            <button type="submit">Search</button>
            </form>
        </li>
        <div class="left">
        <li> <button id="hamburger"> &#9776 </button></li>
        <li><input type="image" src="/src/img/glass.png" alt="search"></li> 
        </div> 
        </li>
        </ul> 
        </nav>
    </header>
   <!-- <div id="opacity"></div> --> -->
    <main-nav class="row">
        <nav class="second-nav">
            <ul>
            <li><a href="/new" data-link>New</a></li>
            <li><a href="/posts" data-link>Dashboard</a></li>
            <li><a href="/settings" data-link>Top sellers</a></li>
            </ul> 
            </nav>
    </main-nav>
    <article>
            <aside>
            <nav>
                <ul>
                <h3><span><img src="/src/img/options-lines.png"></span>Categories</h3>
                <!-- <div class="side">
                    <li><span><img src="/src/img/hamburger.png"></span>Location</li>
                    <div class="sidebar">
                        <ul>
                            <h3>Mainland</h3>
                            <li>Ikeja</li>
                            <li>Ikorodu</li>
                            <li>Yaba</li>
                            <li>Mowe</li>
                            <li>Berger</li>
                            <li>Maryland</li>
                        </ul>
                        <ul>
                            <h3>Island</h3>
                            <li>Ikeja</li>
                            <li>Ikorodu</li>
                            <li>Yaba</li>
                            <li>Mowe</li>
                            <li>Berger</li>
                            <li>Maryland</li>
                        </ul>
                        <ul>
                            <h3>Abuja</h3>
                            <li>Maitama</li>
                            <li>Benin</li>
                            <li>Enugu-North</li>
                            <li>Abakaliki</li>
                            <li>Ilishan</li>
                            <li>Akure</li>
                        </ul>
                        <ul>
                            <h3>Upcountry</h3>
                            <li>Maitama</li>
                            <li>Benin</li>
                            <li>Enugu-North</li>
                            <li>Abakaliki</li>
                            <li>Ilishan</li>
                            <li>Akure</li>
                        </ul>
                    </div>
                </div> -->
            
                <li><span class="data-link"><img src="/src/img/tray.png"></span><a href="#">Tray foods</a></li>
                <li><span class="data-link"><img src="/src/img/fast-food.png"></span><a href="#">Breakfast</a></li>
                <li><span class="data-link"><img src="/src/img/spaguetti.png"></span><a href="#">Noodles & Spaghetti</a></li>  
                <li><span class="data-link"><img src="/src/img/cooking.png"></span><a href="#">Pre-Orders</a></li>
                <li><span class="data-link"><img src="/src/img/cake.png"/></span><a href="#">Cakes & Desserts</a></li>
                <li><span class="data-link"><img src="/src/img/hamburger.png"></span><a href="#">Pastries</a></li>
                <li><span class="data-link"><img src="/src/img/street-food.png"></span><a href="#">Ice Cream & Cupcakes</a></li>
                <li><span class="data-link"><img src="/src/img/smoothie.png"></span><a href="#">Smoothies</a></li>
                <li><span class="data-link"><img src="/src/img/nutrition.png"></span><a href="#">Fresh Juice and Yoghurts</a></li>
                <li><span class="data-link"><img src="/src/img/vegetables.png"></span><a href="#">Seafood</a></li>
                <li><span class="data-link"><img src="/src/img/hamburger.png"></span>Location</li>
                <li><span class="data-link"><img src="/src/img/vegetables.png"></span><a href="#">Seafood</a></li>
                <li><span class="data-link"><img src="/src/img/hamburger.png"></span>Location</li>
                <li><span class="data-link"><img src="/src/img/vegetables.png"></span><a href="#">Seafood</a></li>
                <li><span class="data-link"><img src="/src/img/hamburger.png"></span>Location</li>

                </ul>

                
                
                </nav>
        </aside>
    <main>
        <section class="shopview column clearfix">
        <li class="small-1s"><a href="#"><h3>Chicken Republic</h3></a><span><p class="parn">Orile Agege, Teslim Balogun Stadium</p></span></li>
        <li class="small-6"><a href="">&#8942;</a> </li>
        <img src="/src/img/food4.jpg" width="520" height="330" style="background-color:rgb(179, 174, 174)"; >
        <li><a href="/product"> Jollof Rice Max Refuel</a></li>
        <li class="right">&#8358; 2500</li>       
        </section> 
        <section class="medium-4">
            <h3>Shops<br/><span><p>For all favourites yummies | view shops</p></span></h3>
            <mini-section>
            <img src="/src/img/strawberry.jpg"  width="100" height="129" style="background-color:rgb(179, 174, 174)">
            <li>Strawberry Chocolates</li>
            <li   class="right">&#8358; 8500</li>
            </mini-section>
            <mini-section class="right">
            <img src="/src/img/burger.jpg" width="100" height="129" style="background-color:rgb(179, 174, 174)">
            <li>Hamburger </li>
            <li class="right">&#8358; 5000</li>
            </mini-section>
            <mini-section class="right row">
                <img src="/src/img/rice.jpg"  width="100" height="129" style="background-color:rgb(179, 174, 174)">
                <li>Jollof Rice and Turkey</li>
                <li class="right">&#8358; 4000</li>
                </mini-section>
                <mini-section class="right">
                    <img src="/src/img/spaghettishop.jpg" width="100" height="129" style="background-color:rgb(179, 174, 174)">
                    <li>Spaghetti Bolognese and Mozarella Cheese</li>
                    <li class="right">&#8358; 7650</li>
                    </mini-section>
            </section>
    </main>
    <main>
        <section class="column clearfix">
        <h3>Chefs & Retail Vendors<br/><span><p>Personalized food experience </p></span></h3>
        <img src="/src/img/food5.jpg" width="520" height="330" style="background-color:rgb(179, 174, 174)"; >
        <li>With Chefs shop 25% discounts</li>
        <li class="right">&#8358; 5000</li>       
        </section> 
        <section class="medium-4">
            <h3>Deals<br/><span><p>Your favourite restaurants deals </p></span></h3>
            <mini-section>
            <img src="/src/img/strawberry.jpg"  width="100" height="129" style="background-color:rgb(179, 174, 174)">
            <li>shops with 25% discounts</li>
            <li class="right">&#8358; 8500</li>
            </mini-section>
            <mini-section class="right">
            <img src="/src/img/burger.jpg" width="100" height="129" style="background-color:rgb(179, 174, 174)">
            <li>shops with 30% discounts</li>
            <li class="right">&#8358; 5000</li>
            </mini-section>
            </section>
            <section class="column clearfix">
                <h3 class="top">TOP 10 <br/> </h3> 
                <p class=top-p>Updated everyday based on customer preference </p>
                <img src="/src/img/food2.jpg" width="520" height="330" style="background-color:rgb(179, 174, 174)"; >
                </section>
    </main>
    </article>
</div>

    <div id="hamburgerContent">
        <li class="large-1 align font-text data-link"><a href="#">Sign Up</a></li>
        <li class="large-1 align font-text data-link"><a href="#">Sign In to your account</a></li>
        <li class="large-1 align font-text data-link"><a href="#">Business Account</a></li>
        <li class="large-1 align font-text data-link"><a href="#">Retail shops</a></li>
        <li class="large-1 align font-text data-link"><a href="#">Start Delivering</a></li>
        <li class="large-1 align font-text data-link "><a href="#">Download the App</a></li>   
    </div>
   