<div id="body">
   <h1>BISCUIT BONE LAUGH</h1>
   <p><a href="/new/2">View the foods</a></p>

    <div id="hamburgerContent">
        <li class="large-1 align font-text data-link"><a href="#">Sign Up</a></li>
        <li class="large-1 align font-text data-link"><a href="#">Sign In to your account</a></li>
        <li class="large-1 align font-text data-link"><a href="#">Business Account</a></li>
        <li class="large-1 align font-text data-link"><a href="#">Retail shops</a></li>
        <li class="large-1 align font-text data-link"><a href="#">Start Delivering</a></li>
        <li class="large-1 align font-text data-link "><a href="#">Download the App</a></li>   
    </div>
</div>