<main>
    <div class="foodwall"> 
    <li><img src="/src/img/left-arrow.png"></li>
    <li><h3> Payments & Orders</h3></li>
    </div>
    <section class="orders">
        <h2>Store-based order </h2>
        <article class="store-payments">
            <h1 class="store-cart">Chicken Republic Order Summary</h1>
            <nav class="items">
            <ul> 
                <li class="triple">Chicken Republic & Potato Chips</li>
                <button class="add store-right align remove">x</button>

            </ul>
            <ul class="store-row"> 
                <li class="double item-price">&#8358 5000</li>
                <button class="substract">-</button>
                <input type="text" name="qty" value="1" class="qty">
                <button class="add">+</button>
            </ul>
            </nav>
            <nav class="items">
                <ul> 
                    <li class="triple">Double Chick-Wizz</li>
                    <button class="add store-right remove">x</button>
                </ul>
                <ul class="store-row"> 
                    <li class="double item-price">&#8358 1900</li>
                    <button class="substract" >-</button>
                    <input type="text" name="qty" value="1" class="qty">
                    <button class="add">+</button>
                    
                </ul>
            </nav>
            <nav>
                <ul class="store-checkout"> 
                    <li class="full"><input class="discount" type="text" name="qty" placeholder="Coupon Code" class="qty"></li>
                    <li class="full"><input class="discount" type="submit" name="qty" value="Apply" class="qty"></li>    
                </ul>
                <ul class="store-checkout totals"> 
                    <li><p>Sub-total</p></li>
                    <li class="align"><p class="total sub-total">&#8358 1000</p></li>  
                    <li class="clearfix"><p>Discount(20%)</p></li>
                    <li class="align"><p class="total"> - <span class="total-discount"> &#8358 1000 </span></p></li>
                    <li><p>Delivery Fee</p></li>
                    <li class="align"><p class="total del-fee">&#8358 1500</p></li> 
                    <li><p style="font-size:20px;">Total</p></li>
                    <li class="align"><p class="total total-price"  style="font-size:25px;"> </p></li> 
                </ul>
                </nav>
          
            <nav>
                <ul class="checkout">
                    <li><button class="pay" style="background-color: black; font-size: 15px"> Checkout </button></li>
                    <li><button class="pay" style="font-size: 15px; background-color: #65f16a;"> Add more </button></li>
                </ul>
            </nav>
            <!-- <nav>
                <ul class="store-checkout pay-end">
                    <li><button class="pay-options"> Pay with Mastercard</button></li>
                    <li><button class="pay-options"> Pay with Paystack  </button></li>
                    <li class="clearfix"><button class="pay-options"> Collect in Person  </button></li>
                    <li><button class="pay-options"> Cancel Order </button></li>
                </ul>
            </nav> -->
            
            
        </article>
         
        
    </section>
</main>