<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Wall</title>
</head>
<body>
    <main>
        <div class="foodwall"> 
        <li><img src="/src/img/left-arrow.png"></li>
        <li><h3> Food wall</h3></li>
        </div>
        <section class="shopview column clearfix products">
        <li class="small-1s"><a href="#"><h3>Chicken Republic</h3></a><span><p class="parn">Orile Agege, Teslim Balogun Stadium</p></span></li>
        <li class="small-6"><a href="">&#8942;</a> </li>
        <img src="/src/img/food1.jpg" width="520" height="330" style="background-color:rgb(179, 174, 174)"; >
        <div class="prod-class">
            <li class="prd"><img src="/src/img/info.png"></li>
            <li class="prd"><img src="/src/img/clapping.png"></li>
            <li class="prd"><img src="/src/img/star (1).png"></li>
            <li class="buy right"><img src="/src/img/shopping-cart (1).png"></li>
            </div> <br>
        <li>Chicken Burger & Potato Chips</li>
        <li class="right">&#8358; 5000</li>       
        </section>

        <section class="shopview column clearfix">
            <li class="small-1s"><a href="#"><h3>Ocean Basket</h3></a><span><p class="parn">45 Oba Akinjobi street, GRA,Ikeja</p></span></li>
            <li class="small-6"><a href="">&#8942;</a> </li>
            <img src="/src/img/food2.jpg" width="520" height="330" style="background-color:rgb(179, 174, 174)"; >
            <div class="prod-class">
            <li class="prd"><img src="/src/img/info.png"></li>
            <li class="prd"><img src="/src/img/clapping.png"></li>
            <li class="prd"><img src="/src/img/star (1).png"></li>
            <li class="buy right"><img src="/src/img/shopping-cart (1).png"></li>
            </div> <br>
            <li class="">Fish Barbeque & Chips</li>
            <li class="right">&#8358; 4000</li>       
            </section>

        <section class="shopview column clearfix">
            <li class="small-1s"><a href="#"><h3>Sidebar by Miskay</h3></a><span><p class="parn">41 Alfred Rewane, Lekki, V.I</p></span></li>
            <li class="small-6"><a href="">&#8942;</a> </li>
            <img src="/src/img/chips.jpg" width="520" height="330" style="background-color:rgb(179, 174, 174)"; >
            <div class="prod-class">
                <li class="prd"><img src="/src/img/info.png"></li>
                <li class="prd"><img src="/src/img/clapping.png"></li>
                <li class="prd"><img src="/src/img/star (1).png"></li>
                <li class="buy right"><img src="/src/img/shopping-cart (1).png"></li>
                </div> <br>
            <li>Chicken and Chips</li>
            <li class="right">&#8358; 3000</li>       
            </section>
    </main>

    
    
</body>
</html>