<div id="body" class="profile-body users-dir">
   <header class="clearfix">
      <div>
         <h2>maxdamonfoods</h2>
      </div>
      <nav id="first-nav">
      <ul>
      <li class="small-8">
          <form id="search"> 
          <input src="/src/img/glass.png" alt="search">
          <input type="search" class="change" placeholder="Search for food, restaurants, locations" name="search">
          <button type="submit">Search</button>
          </form>
      </li>
      <div class="left">
      <li> <button id="hamburger"> &#9776 </button></li>
      <li><i class="fa-solid fa-cart-circle-plus"></i></li> 
      </div> 
      </li>
      </ul> 
      </nav>
  </header>
    <nav class="profile-nav">
    <div class="profile-card"><img src="/src/img/office.png"/>
      <p>@maxdamonfoods</p></div>
    
    </nav>
    <nav class="user-stats">
        <li>
           <p>30</p> 
           <p class="stats-p-2">Menu</p>
        </li>
        <span class="margin"> | </span>
        <li>
            <p>5000</p> 
            <p class="stats-p-2"> Likes</p>
         </li>
         <span class="margin"> | </span>
         <li>
            <p>2000</p> 
            <p class="stats-p-2">Customers</p>
         </li> 
    </nav>
    <nav class="profile-edit">
      <p>Max Damon makes breakfast cusines and italian delicacies.</p>
      <ul><li class="full"><input class="discount" type="submit" name="qty" value="Edit Profile" class="qty"></li></ul>
      </nav>
      <nav class="menu-list">
            <ul>
            <li><a href="/new" data-link>Menu</a></li>
            <li><a href="/posts" data-link>Blog</a></li>
            </ul> 
      </nav>
      
   <article class="menu-list-item">
         <h3> Party Starters</h3>
    <section>
    <li class="small-5s first"><img src="/src/img/strawberry.jpg"  width="30px" height="20px" style="background-color:rgb(179, 174, 174)"></li>
    <div class="border-x middle">
    <li class="large-3s">Strawberry Chocolates</li>
    <li class="small-15s">&#8358; 10,000</li>
    <li class="small-5s cart-plus"><img src="/src/img/shopping-cart (1).png" width="30px" height="20px"></li>
    <li class="small-6s">&#8942;</li>
   
   </div>
    </section>
    <section>
      <li class="small-5s first"><img src="/src/img/food1.jpg"  width="30px" height="20px" style="background-color:rgb(179, 174, 174)"></li>
      <div class="border-x middle">
      <li class="large-3s">Chicken Wrapped Sauce </li>
      <li class="small-15s">&#8358; 8,300</li>
      <li class="small-5s cart-plus"><img src="/src/img/shopping-cart (1).png" width="30px" height="20px"></li>
      <li class="small-6s">&#8942;</li>
     
     </div>
      </section>
      <section>
         <li class="small-5s first"><img src="/src/img/food3.jpg"  width="30px" height="20px" style="background-color:rgb(179, 174, 174)"></li>
         <div class="border-x middle">
         <li class="large-3s">Full roasted chicken</li>
         <li class="small-15s">&#8358; 12,500</li>
         <li class="small-5s cart-plus"><img src="/src/img/shopping-cart (1).png" width="30px" height="20px"></li>
         <li class="small-6s">&#8942;</li>
        
        </div>
         </section>
         <section>
            <li class="small-5s first"><img src="/src/img/food4.jpg"  width="30px" height="20px" style="background-color:rgb(179, 174, 174)"></li>
            <div class="border-x middle">
            <li class="large-3s">Brown Cakes</li>
            <li class="small-15s">&#8358; 4,800</li>
            <li class="small-5s cart-plus"><img src="/src/img/shopping-cart (1).png" width="30px" height="20px"></li>
            <li class="small-6s">&#8942;</li>
           
           </div>
            </section>
      </article>

      <article class="menu-list-item">
         <h3> Breakfast Delight</h3>
    <section>
    <li class="small-5s first"><img src="/src/img/strawberry.jpg"  width="30px" height="20px" style="background-color:rgb(179, 174, 174)"></li>
    <div class="border-x middle">
    <li class="large-3s p">Strawberry Chocolates</li>
    <li class="small-15s p">&#8358; 100,000</li>
    <li class="small-5s cart-plus"><img src="/src/img/shopping-cart (1).png" width="30px" height="20px"></li>
    <li class="small-6s">&#8942;</li>
   
   </div>
    </section>
    <section>
      <li class="small-5s first"><img src="/src/img/food1.jpg"  width="30px" height="20px" style="background-color:rgb(179, 174, 174)"></li>
      <div class="border-x middle">
      <li class="large-3s">Chicken Wrapped Sauce </li>
      <li class="small-15s">&#8358; 8,300</li>
      <li class="small-5s cart-plus"><img src="/src/img/shopping-cart (1).png" width="30px" height="20px"></li>
      <li class="small-6s">&#8942;</li>
     
     </div>
      </section>
      <section>
         <li class="small-5s first"><img src="/src/img/food3.jpg"  width="30px" height="20px" style="background-color:rgb(179, 174, 174)"></li>
         <div class="border-x middle">
         <li class="large-3s">Full roasted chicken</li>
         <li class="small-15s">&#8358; 12,500</li>
         <li class="small-5s cart-plus"><img src="/src/img/shopping-cart (1).png" width="30px" height="20px"></li>
         <li class="small-6s">&#8942;</li>
        
        </div>
         </section>
         <section>
            <li class="small-5s first"><img src="/src/img/food4.jpg"  width="30px" height="20px" style="background-color:rgb(179, 174, 174)"></li>
            <div class="border-x middle">
            <li class="large-3s">Brown Cakes</li>
            <li class="small-15s">&#8358; 4,800</li>
            <li class="small-5s cart-plus"><img src="/src/img/shopping-cart (1).png" width="30px" height="20px"></li>
            <li class="small-6s">&#8942;</li>
           
           </div>
            </section>
      </article>
      <article class="menu-list-item">
         <h3> Breakfast Delight</h3>
    <section>
    <li class="small-5s first"><img src="/src/img/strawberry.jpg"  width="30px" height="20px" style="background-color:rgb(179, 174, 174)"></li>
    <div class="border-x middle">
    <li class="large-3s p">Strawberry Chocolates</li>
    <li class="small-15s p">&#8358; 100,000</li>
    <li class="small-5s cart-plus"><img src="/src/img/shopping-cart (1).png" width="30px" height="20px"></li>
    <li class="small-6s">&#8942;</li>
   
   </div>
    </section>
    <section>
      <li class="small-5s first"><img src="/src/img/food1.jpg"  width="30px" height="20px" style="background-color:rgb(179, 174, 174)"></li>
      <div class="border-x middle">
      <li class="large-3s">Chicken Wrapped Sauce </li>
      <li class="small-15s">&#8358; 8,300</li>
      <li class="small-5s cart-plus"><img src="/src/img/shopping-cart (1).png" width="30px" height="20px"></li>
      <li class="small-6s">&#8942;</li>
     
     </div>
      </section>
      <section>
         <li class="small-5s first"><img src="/src/img/food3.jpg"  width="30px" height="20px" style="background-color:rgb(179, 174, 174)"></li>
         <div class="border-x middle">
         <li class="large-3s">Full roasted chicken</li>
         <li class="small-15s">&#8358; 12,500</li>
         <li class="small-5s cart-plus"><img src="/src/img/shopping-cart (1).png" width="30px" height="20px"></li>
         <li class="small-6s">&#8942;</li>
        
        </div>
         </section>
         <section>
            <li class="small-5s first"><img src="/src/img/food4.jpg"  width="30px" height="20px" style="background-color:rgb(179, 174, 174)"></li>
            <div class="border-x middle">
            <li class="large-3s">Brown Cakes</li>
            <li class="small-15s">&#8358; 4,800</li>
            <li class="small-5s cart-plus"><img src="/src/img/shopping-cart (1).png" width="30px" he ight="20px"></li>
            <li class="small-6s">&#8942;</li>
           
           </div>
            </section>
      </article>

     

      
      
  
 
 </div>


 <div id="hamburgerContent">
   <li class="large-1 align font-text data-link"><a href="#">Sign Up</a></li>
   <li class="large-1 align font-text data-link"><a href="#">Sign In to your account</a></li>
   <li class="large-1 align font-text data-link"><a href="#">Business Account</a></li>
   <li class="large-1 align font-text data-link"><a href="#">Retail shops</a></li>
   <li class="large-1 align font-text data-link"><a href="#">Start Delivering</a></li>
   <li class="large-1 align font-text data-link "><a href="#">Download the App</a></li>   
</div>