<nav class="wall">
    <ul>
        <li>
            <form class="nosubmit">
                <input class="nosubmit" type="search" placeholder="Search...">
              </form>
        </li>
    </ul>
    </nav>
    <article class="category">
        <aside>
        <nav>
        <ul>
        <li><span class="data-link"><img src="/src/img/tray.png"></span><a href="#">Tray foods</a></li>
        <li><span class="data-link"><img src="/src/img/fast-food.png"></span><a href="#">Breakfast</a></li>
        <li><span class="data-link"><img src="/src/img/spaguetti.png"></span><a href="#">Noodles & Spaghetti</a></li>  
        <li><span class="data-link"><img src="/src/img/cooking.png"></span><a href="#">Pre-Orders</a></li>
        <li><span class="data-link"><img src="/src/img/cake.png"/></span><a href="#">Cakes & Desserts</a></li>
        <li><span class="data-link"><img src="/src/img/hamburger.png"></span><a href="#">Pastries</a></li>
        <li><span class="data-link"><img src="/src/img/street-food.png"></span><a href="#">Ice Cream & Cupcakes</a></li>
        <li><span class="data-link"><img src="/src/img/smoothie.png"></span><a href="#">Smoothies</a></li>
        <li><span class="data-link"><img src="/src/img/nutrition.png"></span><a href="#">Fresh Juice and Yoghurts</a></li>
        <li><span class="data-link"><img src="/src/img/vegetables.png"></span><a href="#">Seafood</a></li>
        <li><span class="data-link"><img src="/src/img/hamburger.png"></span>Location</li>
        <li><span class="data-link"><img src="/src/img/vegetables.png"></span><a href="#">Seafood</a></li>
        <li><span class="data-link"><img src="/src/img/hamburger.png"></span>Location</li>
        <li><span class="data-link"><img src="/src/img/vegetables.png"></span><a href="#">Seafood</a></li>
        <li><span class="data-link"><img src="/src/img/hamburger.png"></span>Location</li>
        </nav>
        </ul>
        </aside>
    </article>
<section class="medium-4 sect-wall">
    <h3>Fries and Chips</h3>
    <mini-section>
    <img src="/src/img/strawberry.jpg"  width="100" height="129" style="background-color:rgb(179, 174, 174)">
    <li>Strawberry Chocolates</li>
    <li   class="right">&#8358; 8500</li>
    </mini-section>
    <mini-section class="right">
    <img src="/src/img/burger.jpg" width="100" height="129" style="background-color:rgb(179, 174, 174)">
    <li>Hamburger </li>
    <li class="right">&#8358; 5000</li>
    </mini-section>
    <mini-section class="right row">
        <img src="/src/img/rice.jpg"  width="100" height="129" style="background-color:rgb(179, 174, 174)">
        <li>Jollof Rice and Turkey</li>
        <li class="right">&#8358; 4000</li>
        </mini-section>
        <mini-section class="right">
            <img src="/src/img/spaghettishop.jpg" width="100" height="129" style="background-color:rgb(179, 174, 174)">
            <li>Spaghetti Bolognese and Mozarella Cheese</li>
            <li class="right">&#8358; 7650</li>
            </mini-section>
        <h3>Be the first to know</h3>
        <mini-section>
        <img src="/src/img/strawberry.jpg"  width="100" height="129" style="background-color:rgb(179, 174, 174)">
        <li>Strawberry Chocolates</li>
        <li   class="right">&#8358; 8500</li>
        </mini-section>
        <mini-section class="right">
        <img src="/src/img/burger.jpg" width="100" height="129" style="background-color:rgb(179, 174, 174)">
        <li>Hamburger </li>
        <li class="right">&#8358; 5000</li>
        </mini-section>
        <mini-section class="right row">
            <img src="/src/img/rice.jpg"  width="100" height="129" style="background-color:rgb(179, 174, 174)">
            <li>Jollof Rice and Turkey</li>
            <li class="right">&#8358; 4000</li>
            </mini-section>
            <mini-section class="right">
                <img src="/src/img/spaghettishop.jpg" width="100" height="129" style="background-color:rgb(179, 174, 174)">
                <li>Spaghetti Bolognese and Mozarella Cheese</li>
                <li class="right">&#8358; 7650</li>
                </mini-section>
        <h3>Food with Local origin</h3>
                <mini-section>
                <img src="/src/img/strawberry.jpg"  width="100" height="129" style="background-color:rgb(179, 174, 174)">
                <li>Strawberry Chocolates</li>
                <li   class="right">&#8358; 8500</li>
                </mini-section>
                <mini-section class="right">
                <img src="/src/img/burger.jpg" width="100" height="129" style="background-color:rgb(179, 174, 174)">
                <li>Hamburger </li>
                <li class="right">&#8358; 5000</li>
                </mini-section>
                <mini-section class="right row">
                    <img src="/src/img/rice.jpg"  width="100" height="129" style="background-color:rgb(179, 174, 174)">
                    <li>Jollof Rice and Turkey</li>
                    <li class="right">&#8358; 4000</li>
                    </mini-section>
                    <mini-section class="right">
                        <img src="/src/img/spaghettishop.jpg" width="100" height="129" style="background-color:rgb(179, 174, 174)">
                        <li>Spaghetti Bolognese and Mozarella Cheese</li>
                        <li class="right">&#8358; 7650</li>
                        </mini-section>
        <h3>Daily Top City Foods</h3>
                <mini-section>
                <img src="/src/img/strawberry.jpg"  width="100" height="129" style="background-color:rgb(179, 174, 174)">
                <li>Strawberry Chocolates</li>
                <li   class="right">&#8358; 8500</li>
                </mini-section>
                <mini-section class="right">
                <img src="/src/img/burger.jpg" width="100" height="129" style="background-color:rgb(179, 174, 174)">
                <li>Hamburger </li>
                <li class="right">&#8358; 5000</li>
                </mini-section>
                <mini-section class="right row">
                    <img src="/src/img/rice.jpg"  width="100" height="129" style="background-color:rgb(179, 174, 174)">
                    <li>Jollof Rice and Turkey</li>
                    <li class="right">&#8358; 4000</li>
                    </mini-section>
                    <mini-section class="right">
                        <img src="/src/img/spaghettishop.jpg" width="100" height="129" style="background-color:rgb(179, 174, 174)">
                        <li>Spaghetti Bolognese and Mozarella Cheese</li>
                        <li class="right">&#8358; 7650</li>
                        </mini-section>
        <h3>Daily Top Ten</h3>
                <mini-section>
                <img src="/src/img/strawberry.jpg"  width="100" height="129" style="background-color:rgb(179, 174, 174)">
                <li>Strawberry Chocolates</li>
                <li   class="right">&#8358; 8500</li>
                </mini-section>
                <mini-section class="right">
                <img src="/src/img/burger.jpg" width="100" height="129" style="background-color:rgb(179, 174, 174)">
                <li>Hamburger </li>
                <li class="right">&#8358; 5000</li>
                </mini-section>
                <mini-section class="right row">
                    <img src="/src/img/rice.jpg"  width="100" height="129" style="background-color:rgb(179, 174, 174)">
                    <li>Jollof Rice and Turkey</li>
                    <li class="right">&#8358; 4000</li>
                    </mini-section>
                    <mini-section class="right">
                        <img src="/src/img/spaghettishop.jpg" width="100" height="129" style="background-color:rgb(179, 174, 174)">
                        <li>Spaghetti Bolognese and Mozarella Cheese</li>
                        <li class="right">&#8358; 7650</li>
                        </mini-section>
        </section>
